#user-bar {
    height: 15vh;
    background: yellow;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-bottom: 3vh;
  }

  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;}
    
    .main {
        margin-left: 160px; /* Same as the width of the sidebar */
        padding: 0px 10px;}


    



    

  #user-bar span {
    padding: 1%;
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    background: violet;
    align-items: center;
    border-radius: 2em;
    border: 3px solid black;
  }

  .userInfo{
    height: 550px;
    padding: 30px;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
  }